<nav class='footer_nav'>
	<ul class="nav_list">
		<li class='item'>
			<a href="/views/home/index.html">
				<span class="icon icon-home item-icon"></span>
				<span class="item-name">首页</span>
			</a>
		</li>
		<li class='item'>
			<a href="/views/find/index.html">
				<span class="icon icon-find item-icon"></span>
				<span class="item-name">发现</span>
			</a>
		</li>
		<li class='item'>
			<a href="/views/plus/index.html">
				<span class="icon icon-find item-icon"></span>
				<span class="item-name">社群</span>
			</a>
		</li>
		<li class='item'>
			<a href="/views/icon/index.html">
				<span class="icon icon-user item-icon"></span>
				<span class="item-name">icon</span>
			</a>
		</li>
		<li class='item'>
			<a href="/views/about/index.html">
				<span class="icon icon-user item-icon"></span>
				<span class="item-name">me</span>
			</a>
		</li>
	</ul>
</nav>