<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="referrer" content="never">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<script>
		var _global = {
			footerNav: 0
		}
	</script>
</head>
<body>
	#include("../common/header/index.html")
	<div id='main'>
		<section class="content-padding">
			<ul class='home-list'></ul>
		</section>
	</div>
	#include("../common/footer_nav/index.html")

	<script type="text/javascript" src="/static/js/lib/zepto.1.2.min.js"></script>
	<script type="text/javascript" src="/static/js/common.js"></script>
</body>
</html>